.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  row-gap: 5rem;
  background: #e0ffff;
}

.container nav {
  display: flex;
  background: #afeeee;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
nav span {
  color: rgb(25, 26, 24);
  font-size: large;
  font-weight: bold;
  font-style: italic;
}

.logoutBtn {
  background-color: red;
  border-radius: 0.5rem;
  color: white;
  font-weight: 500;
  font-size: 17px;
  transition: 0.5s;
  cursor: pointer;
}
.logoutBtn:hover {
  scale: 1.1;
}

.mainContainer {
  display: flex;
  height: 70vh;
  column-gap: 2rem;
  justify-content: center;
}
.mainContainer > div {
  /* border: 1px solid red; */
  /* flex: 1; */
  border-radius: 2rem;
  box-shadow:
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainContainer div p {
  margin: 0;
}
.user {
  font-size: 18px;
  height: 300px;
  padding: 1rem;
}

.editContainer {
  min-width: 480;
  row-gap: 2rem;
}

.editContainer > div input {
  padding-inline-start: 1rem;
  font-size: 16px;
}

.editContainer > div > input {
  height: 48px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  outline: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.editContainer > button {
  background-color: blue;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.editContainer > button:hover {
  background-color: rgb(97, 97, 214);
}

.passwordContainer {
  position: relative;
}

.passwordContainer input {
  width: 100%;
  height: 48px;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  outline: 0;
  border: 0;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding-inline-start: 1rem;
}

.passwordContainer button {
  position: absolute;
  border-radius: 0;
  background-color: rgb(244, 228, 228);
  box-shadow: none;
  color: black;
  cursor: pointer;
  top: 13px;
  right: 8px;
  height: 20px;
}
.edit {
  border-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  transition: 0.5;
  background: #afeeee;
}
.edit:hover {
  scale: 1.1;
  background-color: aqua;
}
.passwordEdit {
  display: flex;
}

.buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.buttons button {
  min-width: 50px;
  border-radius: 0;
  cursor: pointer;
  transition: 0.9;
  border-radius: 30%;
}
.buttons button:hover {
  scale: 1.1;
  background-color: bisque;
}
