.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0ffff;
}
.formContainer {
  min-width: 380px;
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 48px;
  border-radius: 2rem;
  padding: 2rem;
}
.formContainer > h2 {
  margin: 0;
  padding: 0;
  align-self: self-start;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.inputContainer input {
  padding-inline-start: 1rem;
  font-size: 16px;
}

.inputContainer > input,
button {
  height: 48px;
  border-radius: 2rem;
  outline: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.inputContainer > button {
  background-color: blue;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.inputContainer > button:hover {
  background-color: rgb(97, 97, 214);
}

.inputContainer a {
  color: gray;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.5s;
  align-self: center;
}

a:hover {
  border-bottom: 1px solid gray;
}

.passwordContainer {
  position: relative;
}

.passwordContainer input {
  width: 100%;
  height: 48px;
  border-radius: 2rem;
  outline: 0;
  border: 0;
  font-size: 16px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  padding-inline-start: 1rem;
}

.passwordContainer button {
  position: absolute;
  border-radius: 0;
  background-color: white;
  box-shadow: none;
  color: black;
  cursor: pointer;
  top: 13px;
  right: 8px;
  height: 20px;
}
.PasswordContainer {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
